body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff8c00;
}

section {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background-image: url("back1.webp");
  background-size: cover; /* Масштабирование изображения для заполнения всего экрана */
  background-repeat: no-repeat; /* Запрет повторения изображения */
  overflow: hidden;
}
